<article class="card">
    <a href="{{ path('gig_detail', {'id': gig.id}) }}">
        <img src="" alt=>
    </a>
    <h3>{{ gig.pub.name }}</h3>
    <time></time>
    <p>on fait des test</p>
    <a href="#" class="btn btn-primary">See more</a>

</article>