{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1>Accueil</h1>
    </section>

    <section class="container">
        <h2>Next gigs in town</h2>

        <div class="grid">
            {% for gig in gigs %}

                {% include 'gig/_card.html.twig' with {'gig': gig} only %}  {# pour afficher ce qui est dans la gig_card, include à la place de l'article #}

            {% endfor %}
        </div>
    </section>

    {# <?php foreach ($musicians as $musician): ?> #}

    {# Boucler sur la liste des musiciens #}
    <section class="container">
        <h2>Available musicians</h2>

        <div class="grid">

            {% for musician in musicians %}
                {# Inclure le fichier musician/_card.html.twig en envoyant la variable musician (et uniquement musician) #}
                {% include 'musician/_card.html.twig' with {'musician': musician} only %}
            {% endfor %}

        </div>
    </section>

{% endblock %}