{% extends 'base.html.twig' %}

{% block title %}{{ musician.firstName }} {{ musician.lastName }}{% endblock %}

{% block body %}
    <section class="container">
    <h1>{{ musician.fullname }}</h1>
    </section>

    {{ form(form) }}

{% endblock %}



